/* Webfont: Dirtyline36Daysoftype2022-Reg */@font-face {
    font-family: 'Dirtyline36Daysoftype2022';
    src: url('Dirtyline 36daysoftype 2022.eot'); /* IE9 Compat Modes */
    src: url('Dirtyline 36daysoftype 2022.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Dirtyline 36daysoftype 2022.woff') format('woff'), /* Modern Browsers */
         url('Dirtyline 36daysoftype 2022.woff2') format('woff2'), /* Modern Browsers */
         url('Dirtyline 36daysoftype 2022.ttf') format('truetype'); /* Safari, Android, iOS */
          
    text-rendering: optimizeLegibility;
}
/* @media (min-width: 1280px){
html {
    font-size: 1.5vw;
}}

@media (min-width: 1080px){
html {
    font-size: 1.8vw;
}}
@media (min-width: 640px){
html {
    font-size: 2vw;
}}
@media (min-width: 280px){
html {
    font-size: 2.5vw;
}}
html {
    font-family: Syne, sans-serif;
    font-size: 1vw;
    font-variant-numeric: lining-nums;
} */

