.main{
    height: 100vh; 
    width: 100%; 
    

}
.main__div {
    overflow: hidden;
    height: 100%; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    

}
.main__txt{
    width: 80%; 
    height: 40%;
    text-align: center;
   
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /* margin-bottom: 8rem;
    font-size: 9vw;
    line-height: 10vh; */
    letter-spacing: -0.065rem;
    


}
.txt1 {
    width: 100%;
    width: 100%;
    height: 28%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-weight: 400;
  position: relative; 
  
  top: -4vh;
    
}
.txt2{
    width: 100%;
    height: 28%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-weight: 400;
   
}
.button{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    position: absolute;
    bottom: 2rem;
    height: 10vh; 


}
.sub__button{
    width: 90%;
    display: flex; 
    height: 100% ; 
    position: absolute;
    justify-content: space-evenly;
    align-items: center ;
    flex-wrap: wrap;

}


.b1{
   
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 83%;
    width: 13%;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: var(--primary);
    color: var(--primary);
  

}
.main__Para{
    position: relative;
    font-size: 0.85rem;
    line-height: 0.95rem;
    top: -42vh;
    left: 1rem;
    display: flex;
    font-family: 'Syne' , sans-serif;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    align-items: center;

}

.b2{
    right: 0;
    position: absolute;
    
    top: 0;
    display: flex;
    height: 83%;
    width: 13%;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: var(--primary);
    color: var(--primary);
  
}
.main__Para img {
    width: 20px; 
    height: 20px;
    position: relative ;
    top: 1rem;
}
.main__txt {
    font-family: "Dirtyline 36Daysoftype 2022";
    font-size: 8.125rem;
    line-height: 6.25rem;
}
@media (min-width: 640px){
.main__txt {
       font-size: 5.175rem;
       line-height: 4.125rem;
       letter-spacing: -1px;
   }
   }

@media (min-width: 1440px ){
    .main__txt {
    font-size: 4.85rem;
    line-height: 3.65rem;
    letter-spacing: -2px;
}
}
@media (max-width: 1536px ){
    .main__txt {
        font-size: 4.85rem;
        line-height: 3.65rem;
        letter-spacing: -2px;
    }
    }
@media (min-width: 1280px){
.main__txt {
    font-size: 6rem;
    line-height: 4.5rem;
    letter-spacing: -2px;
}
}

@media (min-width: 280px){
    .txt2{
        top: -7vh;
        position: relative;line-height: 5rem;
    }
.main__txt{
    
    font-size: 6rem;
    line-height: 3rem;
    position: relative;
    top: -3rem;
    letter-spacing: -1px;
}
}