.main{
    height: 100vh; 
    width: 100%; 
    

}
.main__div {
    overflow: hidden;
    height: 100%; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    

}
.main__txt{
    width: 80%; 
    height: 40%;
    text-align: center;
   
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /* margin-bottom: 8rem;
    font-size: 9vw;
    line-height: 10vh; */
    letter-spacing: -0.065rem;
    


}
.txt1 {
    width: 100%;
    width: 100%;
    height: 28%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-weight: 400;
  position: relative; 
  
  top: -4vh;
    
}
.txt2{
    width: 100%;
    height: 28%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-weight: 400;
   
}
.button{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    position: absolute;
    bottom: 2rem;
    height: 10vh; 


}
.sub__button{
    width: 90%;
    display: flex; 
    height: 100% ; 
    position: absolute;
    justify-content: space-evenly;
    align-items: center ;
    flex-wrap: wrap;

}


.b1{
   
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 83%;
    width: 169px;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: var(--primary);
    color: var(--primary);
  

}
.main__Para{
    position: relative;
    font-size: 1.125rem;
    line-height: 1.625rem;
    top: -42vh;
    left: 1rem;
    display: flex;
    font-family: 'Syne' , sans-serif;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    align-items: center;

}

.b2{
    right: 0;
    position: absolute;
    
    top: 0;
    display: flex;
    height: 83%;
    width: 169px;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: var(--primary);
    color: var(--primary);
  
}
.main__Para img {
    width: 20px; 
    height: 20px;
    position: relative ;
    top: 1rem;
}
.main__txt {
    font-family: "Dirtyline 36Daysoftype 2022";
    font-size: 8.125rem;
    line-height: 6.25rem;
}

@media (min-width: 280px){
    .txt2{
        top: -7vh;
        position: relative;line-height: 5rem;
    }
    .b1 , .b2 {
        font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: -1px;
    padding: 19px;}
    
    
.main__txt{
    
    font-size: 4rem;
    line-height: 6rem;
    position: relative;
    top: -3rem;
    letter-spacing: -1px;
}
/* .main__Para span {
   
       width: 297px;
    
} */
/* .main__Para{
    line-height: .9;
    text-align: center;
    line-height: 1.4rem;
    font-size: 1rem;
} */
.txt2{
line-height: 5rem;
}
.txt1{

}
}
@media (min-width: 640px){
   
    /* .main__Para {
        font-size: 1rem;
        line-height: 1.2rem;
    } */
.main__txt {
       font-size: 5.175rem;
       line-height: 4.125rem;
       letter-spacing: -1px;
   }
   .b1 , .b2 {
    font-size: 1.1rem;
    line-height: 1rem;}
   }
   @media (min-width: 720px){
    .b1 , .b2 {
        padding: 1rem 2rem;
    }} 
   @media (min-width: 1024px){
    .b1  , .b2{
        font-size: .9rem;
        line-height: 1rem;}
    
    }
    @media (max_width:768px){
        /* .main__Para{
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        } */
    }
   @media (min-width: 1080px){
    /* .main__Para{
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    } */
    .b1 , .b2 {
        font-size: .98rem;
        line-height: 1rem;}
    
    }
   @media (min-width: 1280px){
    .main__txt {
        font-size: 6rem;
        line-height: 4.5rem;
        letter-spacing: -2px;
        position: relative;
        top: 3vh;
    }
    }

@media (min-width: 1440px ) and (max-width:1536px){
    .main__txt {
    font-size: 4.85rem;
    line-height: 3.65rem;
    letter-spacing: -2px;
}
}








