.Dribble__main{
    width: 100% ;
   
    display: flex; 
justify-content: center;
margin-top: 16rem;



}
.Dribble__main__subdiv{

    pointer-events: none;
    position: relative;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
}
.Dribble__main__subdiv div{
    will-change: transform;
    overflow: hidden;
    height: 99%;
    width: 94%;
    border-radius: 1.5rem;
}
.Dribble__main__subdiv div img{
    height: 100%; 
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}
.behind{
   top: 400rem;
    gap: 5px;
    position: absolute;
    width: 40%;
    height: 50%; 
    display: flex ;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

}
.behind img{
    height: 18%;

}
.behind span{
    font-family: 'syne' , sans-serif; 
    font-size: 1.5rem ;
    line-height: 1.85rem;

}
.behind button{
    background-color: transparent;
    right: 0;
   
    
    
    display: flex;
    height: 23%;
    width: 38%;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #c5fcfc;
    color: #c5fcfc;
   
}
