.header{
    position: fixed; 
    z-index: 10000; 
    background-color: transparent; 
    width: 100%; 
    height: 4rem; 
    display: flex; 
justify-content: center;
top: 1rem;
}
.header__container{
    height: 100% ; 
    width: 90%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}
.togglemode1 button{
    display: flex;
    justify-content: center;
    border-radius: 9999px;
    /* alignment-baseline: middle; */
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    background: hsla(222, 6%, 67%, .2);
}
.togglemode{
    display: flex; 
    gap: 0.5rem;

}
.togglemode2{
    background: hsla(222, 6%, 67%, .2);
    width: 32px; 
    height: 32px; 
    border-radius: 9999px;
}

.togglemode2 img{
    width: 32px; 
    height: 32px;
    background: hsla(222, 6%, 67%, .2);
border-radius: 50%;

}
.logo img{
    color:transparent;
}
.img{
    background: hsla(222, 6%, 67%, .2);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    top: 30px;
    right: 54px;
}
.text{

  font-family: "Oswald", sans-serif;
  letter-spacing: -2px;
  width: 3rem;

}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.s1{
    position: relative;
    width: 54%;
    left: 11px;
    top: 15px;
    display: block;
    background-color: #e0eeee;
    height: 1px;
}

.s2{
    position: relative;
    width: 23%;
    left: 23px;
    top: 19px;
    display: block;
    background-color: #e0eeee;
    height: 1px;
    
}
.text__button{
    background: hsla(222, 6%, 67%, .2);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 1px solid transparent;
    display: flex; 
    justify-content: center;
    align-items: center;
   

}
.sound{
    display: flex;
    justify-content: center;
    border-radius: 9999px;
    /* alignment-baseline: middle; */
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    background: hsla(222, 6%, 67%, .2);
}