.join__main{
    
    width: 100%; 
    display: flex; 
    align-items: center;
    gap: 70px;
    flex-direction: column;
    padding-top: 10rem;
    
}
.sub1__join__main{
    width: 100%; 
    height: 40%; 
    display: flex ;
    justify-content: center; 

}
.sub__sub{
    width: 80%; 
    height: 100%; 
    display: flex;
    flex-direction: column; 
    font-family:  var(--font);
    font-size: 13vw;
    line-height: 13vw; 
    letter-spacing: -6px;
    

}
.sub__sub__div1{
    display: block; 
    position: relative;
    color: rgba(31, 32, 34, .4);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #c5fcfc, #c5fcfc);
    animation: rights1 linear;
    animation-timeline: view();
    
    
}
.sub__sub__div2{
    display: block; 
    position: relative;
    text-align: center ;  color: rgba(31, 32, 34, .4);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #c5fcfc, #c5fcfc);
    animation: rights1 linear;
    animation-timeline: view();
    position: relative;
    top: -1rem;
    
    
}
.sub__sub__div3{
    display: block; 
    position: relative;
    text-align: center ;  color: rgba(31, 32, 34, .4);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #c5fcfc, #c5fcfc);
    animation: rights1 linear;
    animation-timeline: view();
    position: relative;
    top: -2rem;
    
    
}

.main2{
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
   

}
.main2__suvdiv{
    display: flex;
    justify-content: space-between ; 
    align-items: center; 
    width: 79%; 
    height: 30%;
    font-size: 3rem;
    line-height: 2.5rem ;
    font-family: 'syne' , sans-serif;
    
    border-bottom: 1px solid white;
    transition: width 0.5s ease-in-out; 



}
.social__image{
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.main2__suvdiv:hover {
    width: 110% ;
    
}

.time__to__roar__main{
    height: 100vh; 
    width: 100%; 
    display: flex; 
    flex-direction: column ;
    align-items: center;
    justify-content: space-between;
    padding-top: 22rem;
}
.time__to__roar__main__subdiv{
    height: 50%; 
     
    font-size: 7rem;
    line-height: 7.35rem;
    letter-spacing: -2px;
    display: flex; 
    width: 90%;



}
.time__to{
    display: block; 
    text-align: start;
    color: rgba(31, 32, 34, .4);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #c5fcfc, #c5fcfc);
    animation: rights1 linear;
    animation-timeline: view();
}
.sub__roar{
    display: flex;
    flex-direction: column; 
    font-size: 13vw;
    line-height: 12vw;
    letter-spacing: -2px;
   
    
    position: relative;
    
    font-family:  var(--font); 
    font-weight: 400;

}
.lets__talk__button{
  
    font-size: 1rem;
    left: -9rem;
    position: relative;
    top: 9rem;
    display: flex;
    height: 20%;
    width: 241%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: var(--primary);
    color: black;
    background-color: var(--primary);
}
.lets__talk__light{
  
    font-size: 1rem;
    left: 23rem;
    position: relative;
    top: 9rem;
    display: flex;
    height: 20%;
    width: 241%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #3f4144;
    .lets__talk__button{
  
        font-size: 1rem;
        left: 23rem;
        position: relative;
        top: 9rem;
        display: flex;
        height: 20%;
        width: 241%;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        border-width: 2px;
        border-color: var(--primary);
        color: black;
        background-color: var(--primary);
    }
    color: white;
    background-color: #3f4144;
}
.foot1{
    border-top: 1.5px solid white; 
    width: 90%;
    height: 7%;
    position : relative; 
    bottom: 3rem;
}
.foot2{
    display: grid ;
    height: 10%; 
    width: 90%; 
    grid-template-columns: repeat(4, minmax(0, 1fr));
    position: relative;
    top: -5rem;
    
    font-family: 'syne' , sans-serif;
    
}
.foot2 div{
    display: flex;
    flex-direction: column; 
    height: 43%; 
    justify-content: space-between;

}
.foot2 div span{
    display: block;
}
.foot2 div h4{
    font-weight: 200;
    font-size: 1.6rem;
    position: relative;
    top: -1.7rem;
}

.div3 span , h4{
right: 0rem;   
position: relative; 
}

.foot3{
    border-bottom: 1.5px solid white; 
    width: 90%;
    height: 7%;
    position : relative; 
    bottom: 7rem;
}
.up{
    height: 10%; 
    width: 90%; 
    display: flex;
    justify-content: space-between; 
    color:#e0eeee;
    font-family: 'syne ' , sans-serif;
    font-size: 1.2rem;
    position: relative; 
    top: -3rem;

}
.up div{
    position: relative; 
    top: 1rem;
}
.trionn__svg , .trionn__svg img{
    width: 100%; 

}
.trionn__svg:hover{
    cursor: url("https://trionn.com/assets/images/torch.png") , pointer;
}
.mask{
    background-color: #121315;
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      hsl(0 40% 100%/0.15),
      transparent 200px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      hsl(0 40% 100%/0.15),
    transparent 200px
    );
}
.roar{
    position: relative ;
    top: -1rem;
 
    color: rgba(31, 32, 34, .4);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #c5fcfc, #c5fcfc);
    animation: rights1 linear;
    animation-timeline: view();
}
@keyframes rights1 {
    to {
        background-size: 100% 100%;
    }
        
    }
    @media (min-width: 280px){
        .mask{
            position: relative;
            top: -93rem;
        }
        .join__main {
            position: relative;
            top: -65rem;
        }
        .foot2{
            display: flex;
flex-direction: column;
top: -7rem;
gap: 37px;
        }
        .foot3{
            position: relative;
            top: -2rem;
        }
        .time__to__roar__main{
            position: relative;
            top: -93rem;
            
        }
        .main2__suvdiv{
            font-size: 1.9rem;
            height: 6rem;
            width: 29rem;

        }
        .social__image{
            height: 34px;
            width: 55px;
        }
        .lets__talk__button{
            left: 0rem;
            position: relative;
            top: 0rem;
            display: flex;
            height: 236%;
            width: 31%;
        }
        .time__to__roar__main__subdiv{
            display: flex;
            flex-direction: column;
        }
        .roar{
           
        }
        .sub__sub   , .sub__roar {
            
            font-size: 5rem;
            line-height: 5.3rem;
            letter-spacing: -2px;
        }
        .who__main__text{
            font-size: 2.9rem;
            line-height: 3.2rem;

        }
       
            }
            @media (min-width: 640px){
                .mask{
                    position: relative;
                    top: -93rem;
                }
                .join__main {
                    position: relative;
                    top: -65rem;
                }
                .foot2{
                    display: flex;
    flex-direction: column;
    top: -7rem;
    gap: 37px;
                }
                .foot3{
                    position: relative;
                    top: -2rem;
                }
                .time__to__roar__main{
                    position: relative;
                    top: -93rem;
                }
                .social__image{
                    transform: rotate(0deg);
                    transition: transform 0.5s;
                }
                .socail__image__hover{
                    transform: rotate(360deg);
                }
                .social__image{
                    height: 62px;
                    width: 62px;
                }
                .main2__suvdiv{
                    font-size: 3rem;
                    line-height: 2.5rem ;
width: 36rem;
                }
                .lets__talk__button{
                    left: -30rem;
                    position: relative;
                    top: 16rem;
                    display: flex;
                    height: 18%;
                    width: 218%;
                }
                .time__to__roar__main__subdiv{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .roar{
                    top: -4rem;
                }
                .sub__sub__div2{
                    top: -4rem;

                }
                .sub__sub__div3{
                    top: -8rem;
                }
                /* .left button{
                    position: relative;
                    left: 14rem;
            top: 26rem;
                } */
                /* .right div
                {
                    font-size: 1.2rem;
                    line-height: 1rem;
                   
                    position: relative;
                    
                }
                .rights1{
                    top: 2rem;
                } */
            .sub__sub  , .sub__roar {
                font-size: 8rem;
                line-height: 10.125rem;
                letter-spacing: -2px;}
                .who__main__top__span2{
                    position: relative;
                    top: -8vh;
                }
                .who__main__text{
                    font-size: 2.375rem;
                    line-height: 3rem;

                }
        }
        
        @media (min-width:1024px) {
            .mask{
                position: relative;
                top: -1rem;
            }
            .join__main  {
                position: relative;
                top: 6rem;
            }
            .foot2{
                display: grid ;
                height: 10%; 
                width: 90%; 
                grid-template-columns: repeat(4, minmax(0, 1fr));
                position: relative;
                top: -5rem;
                
                font-family: 'syne' , sans-serif;
                
            }
            .foot3{
                top: -8rem;
            }
            .time__to__roar__main{
                position: relative;
    top: -2rem;
            }
            .social__image{
                transform: rotate(0deg);
                transition: transform 0.5s;
            }
            .socail__image__hover{
                transform: rotate(360deg);
            }
            .social__image{
                height: 62px;
                width: 62px;
            }
            .main2__suvdiv{
                display: flex;
                justify-content: space-between ; 
                align-items: center; 
                width: 79%; 
                height: 30%;
                font-size: 3rem;
                line-height: 2.5rem ;
                font-family: 'syne' , sans-serif;
                
                border-bottom: 1px solid white;
                transition: width 0.5s ease-in-out; 
            
            
            
            }
            .lets__talk__button{
  
                font-size: 1rem;
                left: -9rem;
                position: relative;
                top: 9rem;
                display: flex;
                height: 20%;
                width: 241%;
                align-items: center;
                justify-content: center;
                border-radius: 9999px;
                border-width: 2px;
                border-color: var(--primary);
                color: black;
                background-color: var(--primary);
            }
            .time__to__roar__main__subdiv{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .roar{
top: -2rem;
            }
            .who__main__top , .sub__roar{
                font-size: 11rem;
                line-height: 10.35rem;
                letter-spacing: -2px;
            }
            .sub__sub  {
                font-size: 2.1rem;
                line-height: 2.7rem;
            }
            
        }
        
        @media (min-width: 1280px){
            .mask{
                position: relative;
                top: -1rem;
            }
            .join__main {
                position: relative;
                top: 6rem;
            }
            .foot2{
                display: grid ;
                height: 10%; 
                width: 90%; 
                grid-template-columns: repeat(4, minmax(0, 1fr));
                position: relative;
                top: -5rem;
                
                font-family: 'syne' , sans-serif;
                
            }
            .time__to__roar__main{
                position: relative;
    top: -2rem;
            }
            .social__image{
                transform: rotate(0deg);
                transition: transform 0.5s;
            }
            .socail__image__hover{
                transform: rotate(360deg);
            }
            .social__image{
                height: 62px;
                width:62px;
            }
            .main2__suvdiv{
                display: flex;
                justify-content: space-between ; 
                align-items: center; 
                width: 79%; 
                height: 30%;
                font-size: 3rem;
                line-height: 2.5rem ;
                font-family: 'syne' , sans-serif;
                
                border-bottom: 1px solid white;
                transition: width 0.5s ease-in-out; 
            
            
            
            }
            .lets__talk__button{
  
                font-size: 1rem;
                left: -9rem;
                position: relative;
                top: 9rem;
                display: flex;
                height: 20%;
                width: 241%;
                align-items: center;
                justify-content: center;
                border-radius: 9999px;
                border-width: 2px;
                border-color: var(--primary);
                color: black;
                background-color: var(--primary);
            }
            .time__to__roar__main__subdiv{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .roar{
top: -2rem;
            }
            .sub__sub__div2{
                top: -1rem;
            }
            .sub__sub__div3{
                top: -3rem;
            }
        .sub__sub  , .sub__roar {
            font-size: 11rem;
            line-height: 10.1rem;
            letter-spacing: -6px;
        }
        .who__main__text{font-size: 2.5rem;
            line-height: 3rem;

        }
        .who__main__top__span2{
            position: relative;
            top: -2rem;
        }

       
        }
            @media (min-width: 1440px ) and (max-width:1536px){
            .sub__sub , .sub__roar{
                font-size: 8rem;
            line-height: 5.9rem;
            letter-spacing: -6px;
             }

             .who__main__text{
                font-size: 2.15rem;
                line-height: 2.5rem;
             }
            }