.recentmain{
   
    display: flex; 
    height: 66vh; 
    width: 100%; 
   
    



}
.right{
  
   
    position: relative ;
    left: 2%;
    top: 10%;
    width: 60%;
    height: 70%;
    
    
}
.rights1{
    color:  rgba(31,32,34,.4);;
  display : block;
  font-family: var(--font);
    /* font-size: 8rem;
    line-height: 7.9rem;
    letter-spacing: -6px; */
    position: relative;
    left: 0.11rem;
    
    background-clip: text;
    background-repeat:no-repeat ;
    background-size: 0% 100%;
    background-image:  linear-gradient(90deg , #c5fcfc , #c5fcfc);
    animation: rights1 linear;
    animation-timeline:view() ;
    
    
    
    
    
}

.rights2{
    display: block;
    
    font-family: var(--font);
    /* font-size: 8rem;
    line-height: 7.9rem;
    letter-spacing: -6px; */
    position: relative;
    top: -1rem;
    left: -15.5rem;
    color: rgba(31, 32, 34, .4);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #c5fcfc, #c5fcfc);
    animation: rights1 linear;
    animation-timeline: view();
}
      
      


.right div{
    
    height: 8%;
    margin-bottom: 0rem;
    position: relative;
    top: 2rem;
    font-family: "syne" , sans-serif;
    font-size: 1.85rem;
    line-height: 1.85rem;
    
    font-weight: 400; 
    left: 1.5rem;
    letter-spacing: 0px;


}

   
    

.left button {
  
    left: 20rem;
    position: relative;
    top: 19rem;
    display: flex;
    height: 11%;
    width: 171%;
    
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-color: var(--primary);
    color: var(--primary);
    background-color: #121315;
}
@keyframes rights1 {
    to {
        background-size: 100% 100%;
    }
        
    }
    @media (min-width: 280px){
.right {
    font-size: 5rem;
    line-height: 5.3rem;
    letter-spacing: -2px;
}
    }
    @media (min-width: 640px){
        .left button{
            position: relative;
            left: 14rem;
    top: 26rem;
        }
        .right div
        {
            font-size: 1.2rem;
            line-height: 1rem;
           
            position: relative;
            
        }
        .rights1{
            top: 2rem;
        }
    .right {
        font-size: 8rem;
        line-height: 9.125rem;
        letter-spacing: -2px;}
}
@media (min-width:1024px) {
    .right{
        font-size: 11rem;
        line-height: 10.35rem;
        letter-spacing: -2px;
    }
    
}
@media (min-width: 1280px){
.right {
    font-size: 11rem;
    line-height: 10.1rem;
    letter-spacing: -6px;
}
}
    @media (min-width: 1440px ) and (max-width:1536px){
     .right{
        font-size: 8rem;
    line-height: 5.9rem;
    letter-spacing: -6px;
     }
    }

