.scrolling__main{
   
    height: 33vh ; 
    width: 100%;
    margin-top: 4rem; 
    margin-bottom: 4rem; 
    padding-bottom: 8rem;
    overflow: hidden;
}
.scrolling__main__top{
    display: flex;
 
  white-space: nowrap;

  font-size: 8rem; 
  line-height: 1.05rem; 
  font-family: var(--font);
  overflow: hidden;
   
  width: 100%; 
  height:87%;

  


}
.righttoleft{
    display: flex ; 
    height: 100%; 
    width: 100%; 
   


}
.righttoleft h3{
    display: block;
    /* font-size: 10rem ;  */
    font-weight :300;
    /* line-height: 1.05rem ; */
    height: 100%;

}
.rfm-marquee-container{
    overflow: hidden;
}
.scrolling__main__bottom{
    
    display: flex;
 
  white-space: nowrap;

  /* font-size: 8rem;  */
  /* line-height: 1.05rem;  */
  font-family: var(--font);
  overflow: hidden;
   
  width: 100%; 
  height:76%;
  position: relative;
  top:-2rem;
}
@media (min-width: 280px){

    .scrolling__main{
        position: relative;
        top: -51rem;
    }
    .scrolling__main__bottom{
        top: -7rem;

    }
    .right__sub__drag{
      position: relative;
      top: -1rem;
    }
    .left__sub__drag__subspan2{
      top: -1rem;

    }
    .sub__drag{
      display: flex;
      flex-direction: column;
    }
    .righttoleft {
        font-size: 5rem;
        line-height: 5.3rem;
        letter-spacing: -2px;
    }
    .who__main__text{
        font-size: 2.9rem;
        line-height: 3.2rem;

    }
   
        }
        @media (min-width: 640px){
            .scrolling__main{
                position: relative;
                top: -51rem;
            }

            .scrolling__main__bottom{
top: -4rem
;
            }

          .sub__drag{
            display:flex;
            justify-content: space-between;
          }
          .left__sub__drag__subspan2{
            top: -4rem;
          }
          /* .right__sub__drag{
            top: -10rem;
            right: -59rem;
          } */
            .sub__sub__div2{
                top: -4rem;

            }
            .sub__sub__div3{
                top: -8rem;
            }
            /* .left button{
                position: relative;
                left: 14rem;
        top: 26rem;
            } */
            /* .right div
            {
                font-size: 1.2rem;
                line-height: 1rem;
               
                position: relative;
                
            }
            .rights1{
                top: 2rem;
            } */
        .righttoleft {
            font-size: 8rem;
            line-height: 10.125rem;
            letter-spacing: -2px;}
            .who__main__top__span2{
                position: relative;
                top: -8vh;
            }
            .who__main__text{
                font-size: 2.375rem;
                line-height: 3rem;

            }
    }
    
    @media (min-width:1024px) {
        .scrolling__main{
            position: relative;
            top: -12rem;
        }
        .scrolling__main__bottom{
            top: -2rem;

        }
      .sub__drag{
        display:flex;
        justify-content: space-between;
      }
      /* .right__sub__drag{
        top: -10rem;
        right: -59rem;
      } */
        .who__main__top{
            font-size: 11rem;
            line-height: 10.35rem;
            letter-spacing: -2px;
        }
        .righttoleft{
          font-size: 11rem;
          line-height: 10.35rem;
          letter-spacing: -2px;
         
        }
        .left__sub__drag__subspan2{
          top: -2rem;
        }
    }
    
    @media (min-width: 1280px){
        .scrolling__main{
            position: relative;
            top: -12rem;
        }
        .scrolling__main__bottom{
            top: -2rem;
        }
      .sub__drag{
        display:flex;
        justify-content: space-between;
      }
      /* .right__sub__drag{top: -10rem;
        right: -59rem;} */
      .left__sub__drag__subspan2{
        top: -2rem;
      }
        .sub__sub__div2{
            top: -1rem;
        }
        .sub__sub__div3{
            top: -3rem;
        }
    .righttoleft {
        font-size: 11rem;
        line-height: 10.1rem;
        letter-spacing: -6px;
    }
    .who__main__text{font-size: 2.5rem;
        line-height: 3rem;

    }
    .who__main__top__span2{
        position: relative;
        top: -2rem;
    }

   
    }
        @media (min-width: 1440px ) and (max-width:1536px){
        .righttoleft{
            font-size: 8rem;
        line-height: 5.9rem;
        letter-spacing: -6px;
         }

         .who__main__text{
            font-size: 2.15rem;
            line-height: 2.5rem;
         }
        }